<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <h1>Create new note</h1>
    <hr>
    <form id="createForm" action="http://localhost:8000/api/notes" method="post">
        <textarea name="notetext" rows="10" cols="100"></textarea><br>
        <label>Use saved sharing settings?</label>
        <input type="checkbox" id="savedOption"><br>
        <input type="submit">
    </form>
    <hr>
    <button id="homeBtn" onclick='location.href="home"'>Home</button>
    <br>
<body>

<script type="text/javascript">
  const serialize_form = form => JSON.stringify(
  Array.from(new FormData(form).entries())
       .reduce((m, [ key, value ]) => Object.assign(m, { [key]: value }), {})
);

$('#createForm').on('submit', function(event) {
  event.preventDefault();
  const json = serialize_form(this);
  $.ajax({
    type: 'POST',
    url: 'http://localhost:8000/api/notes',
    dataType: 'json',
    data: json,
    contentType: 'application/json',
    success: function(data) {
      alert(data)
    }
  });
});
</script>