<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-4">Enterprise Note</h1>
            <p class="lead">A shared notebook application.</p>
        </div>
    </div>
    <p>Welcome, {{ .firstName}}, what would you like to do?</p>
    <hr>
    <div id="buttons">
        <button id="createNote" onclick="location.href='createNote'" type="button">Create Note</button>
        <button id="viewNotes" onclick="location.href='viewNotes'" type="button">View Notes</button>
        <button id="viewUsers" onclick="location.href='viewUsers'" type="button">View Users</button><br><br>
        <button id="findNote" onclick="location.href='findNote'" type="button">Find a Note</button>
        <button id="analyseNote" onclick="location.href='analyseNote'" type="button">Analyse a Note</button><br><br>
        <button id="logout">Logout</button>
    </div>
</body>