<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-4">Enterprise Note</h1>
            <p class="lead">A shared notebook application.</p>
        </div>
    </div>
    <div class="container">
        <h2>Login:</h2>
        <label>User ID: </label>
        <input id="userid" type="number"><br>
        <label>Password: </label>
        <input id="password" type="password">
        <button onclick="login()">Login</button>    
    </div>
    <hr>
    <div class="container">
        <h2>Sign Up:</h2>
        <label>First Name: </label>
        <input id="firstname" type="text"><br>
        <label>Last Name: </label>
        <input id="lastname" type="text"><br>
        <label>Password: </label>
        <input id="signInPassword" type="password">   
        <button onclick="signUp()">Sign Up</button> 
    </div>
</body>