<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/javascript.js"></script>
</head>

<body onload="loadPage()">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-4">Update Permissions</h1>
            <p class="lead">Here is wher you can update user permissions for a note.</p>
        </div>
    </div>
    <div class="container-fluid">
        <form id="updateForm">
            <div class="form-group row">
                <label id="noteid" class="col-sm-2 col-form-label">Note ID: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="formnoteid" name="noteid" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">User ID: </label>
                <input type="number" id="userid" name="userid">
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Read Permissions:</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="readPerm" value=true>
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="readPerm" value=false>
                    <label class="form-check-label" for="inlineRadio1">No</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Write Permissions:</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="writedPerm" value=true>
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="writePerm" value=false>
                    <label class="form-check-label" for="inlineRadio1">No</label>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
    <hr>
    <div class="container-fluid">
        <button id="backBtn" class="btn btn-secondary" onclick='location.href="viewNotes"'>Back</button>
        <button id="homeBtn" class="btn btn-secondary" onclick='location.href="home"'>Home</button>
    </div>
</body>

<script type="text/javascript">
    $('#updateForm').on('submit', function(event) {
    event.preventDefault();

    var noteid = $('#formnoteid').val()
    var userid = $('#userid').val()
    var readpermission = $('input[name="readPerm"]:checked').val()
    var writepermission = $('input[name="writePerm"]:checked').val()

    var json = JSON.stringify({"noteid":parseInt(noteid), "userid":parseInt(userid), "readpermission":(readpermission === "true"), "writepermission":(writepermission === "true")})
    $.ajax({
        type: 'PUT',
        url: 'http://localhost:8000/api/permission',
        dataType: 'json',
        data: json,
        contentType: 'application/json',
        success: function(data) {
        alert(data)
        }
    });
    location.href='viewNotes';
});
</script>