<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/javascript.js"></script>
</head>

<body onload="loadPage()">
    <div class="jumbotron jumbotron-fluid">
  		<div class="container-fluid">
			<h1 class="display-4">Update note</h1>
			<p class="lead">This is where you can update the details of a note.</p>
        </div>
    </div>
    <form id="updateForm">
        <div class="form-group row">
			<label id="noteid" class="col-sm-2 col-form-label">Note ID: </label>
			<div class="col-sm-10">
              	<input type="text" readonly class="form-control-plaintext" id="formnoteid" name="noteid" value="">
          	</div>
        </div>
        <div class="form-group row">
          	<label class="col-sm-2 col-form-label">Note Text: </label>
        </div>
        <div class="form-group row">
          	<textarea name="notetext" rows="10" cols="100" ></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
    <hr>
    <button id="homeBtn" class="btn btn-secondary" onclick='location.href="home"'>Home</button>
    <button id="homeBtn" class="btn btn-secondary" onclick='location.href="home"'>Home</button>
    <br>
<body>

<script type="text/javascript">
  const serialize_form = form => JSON.stringify(
  Array.from(new FormData(form).entries())
       .reduce((m, [ key, value ]) => Object.assign(m, { [key]: value }), {})
);

$('#updateForm').on('submit', function(event) {
  event.preventDefault();
  const json = serialize_form(this);
  $.ajax({
    type: 'PUT',
    url: 'http://localhost:8000/api/notes/' + localStorage.getItem("noteid"),
    dataType: 'json',
    data: json,
    contentType: 'application/json',
    success: function(data) {
      alert(data)
    }
  });
});
</script>