<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/javascript.js"></script>
</head>

<body onload="loadPage()">
    <h1>Update note</h1>
    <hr>
    <form id="updateForm">
        <h3 id="noteid"></h3>
        <label>Note Text:</label><br>
        <textarea name="notetext" rows="10" cols="100" ></textarea><br>
        <input type="submit">
    </form>
    <hr>
    <button id="homeBtn" onclick='location.href="home"'>Home</button>
    <br>
<body>

<script type="text/javascript">
  const serialize_form = form => JSON.stringify(
  Array.from(new FormData(form).entries())
       .reduce((m, [ key, value ]) => Object.assign(m, { [key]: value }), {})
);

$('#updateForm').on('submit', function(event) {
  event.preventDefault();
  const json = serialize_form(this);
  $.ajax({
    type: 'PUT',
    url: 'http://localhost:8000/api/notes/' + localStorage.getItem("noteid"),
    dataType: 'json',
    data: json,
    contentType: 'application/json',
    success: function(data) {
      alert(data)
    }
  });
});
</script>