<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/javascript.js"></script>
</head>

<body onload="loadUsers()">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-4">View Users</h1>
            <p class="lead">Here you can see all of the users in the Enterprise Note system.</p>
        </div>
    </div>
    <div id="userProfile" class="container-fluid">
    </div>
    <div id="userList" class="container-fluid">
    </div>
    <hr>
    <div class="container-fluid">
        <button id="homeBtn" class="btn btn-secondary" onclick='location.href="home"'>Home</button>
    </div>
</body>