<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/javascript.js"></script>
</head>

<body onload="loadUsers()">
    <h1>View Users</h1>
    <p>Here you can see all of the users in the Enterprise Note system</p>
    <hr>
    <div id="userList">
    </div>
    <hr>
    <button id="homeBtn" onclick='location.href="home"'>Home</button>
</body>