<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/javascript.js"></script>
</head>

<body onload="loadNotes()">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-4">View Notes</h1>
            <p class="lead">Here you can see all of the notes you have made and are included in.</p>
        </div>
    </div>
    <div id="yourNotes">
    </div>
    <hr>
    <div id="sharedNotes">
    </div>
    <hr>
    <button id="homeBtn" onclick='location.href="home"'>Home</button>
</body>